<!-- <router-outlet /> -->

<app-header />
<img class="w-full" src="banner.png" alt="Netlife Banner" />
<section class="p-10">
    <h1 class="text-3xl font-extrabold pb-2">MIS CURSOS</h1>
    <p class="pb-7">¡Recuerda seguir adelante con tus cursos pendientes! ¡Cada lección que completas es un paso más hacia alcanzar tus metas!</p>
    <div class="flex gap-x-6">
        <app-course title="Lógica de Programación" teacher="Vanessita" duration="10" rating="4.5" src="courses/logica.png" />
        <app-course title="Lógica de Programación" teacher="Vanessita" duration="10" rating="4.5" src="courses/logica.png" />
        <app-course title="Lógica de Programación" teacher="Vanessita" duration="10" rating="4.5" src="courses/logica.png" />
        <app-course title="Lógica de Programación" teacher="Vanessita" duration="10" rating="4.5" src="courses/logica.png" />
    </div>
</section>