@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');
@import 'tailwindcss';

@theme {
  --color-primary: #ed7004;
  --color-secondary: #ffed00;
  --color-tertiary: #e30613;
  --color-quaternary: #4d1053;
  --color-quinary: #ececec;
  --color-greenlight: #72c234;
  --color-orangelight: #faab00;
  --font-inter: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
