/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900');
@import url('https://fonts.googleapis.com/css?family=Rubik%20One');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    font-family: 'Inter';
}

h1 {
    font-family: 'Roboto', sans-serif;
}